.legenda
  width: fit-content
  margin-left: 20px
  margin-bottom: 30px
  padding: 5px
  border: 0.5px solid #E6E6FA
  border-radius: 5px

.titulo
  font-weight: bold

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th,
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td
  text-align: center

th, td
  padding: 2px !important

td:first-of-type
  font-weight: bold
