<div class="legenda">
  <div class="titulo">
    Legenda:
  </div>
  <div>
    <i [style.color]="statusEnum.VERDE | statusIcon" class="pi pi-circle-on" style="font-size: 1rem"></i>
    OK
  </div>
  <div>
    <i [style.color]="statusEnum.AMARELA | statusIcon" class="pi pi-circle-on" style="font-size: 1rem"></i>
    Falta serviço ou falha de conexão por até 10 minutos
  </div>
  <div>
    <i [style.color]="statusEnum.VERMELHO | statusIcon" class="pi pi-circle-on" style="font-size: 1rem"></i>
    Falta serviço ou falha de conexão por mais de 10 minutos
  </div>
  <div>
    <i [style.color]="statusEnum.EM_BRANCO | statusIcon" class="pi pi-circle-on" style="font-size: 1rem"></i>
    O serviço não consta no autorizador
  </div>
</div>

<p-table [value]="dataTable">
  <ng-template pTemplate="header">
    <tr>
      <th>Autorizador</th>
      <th>Autorização</th>
      <th>Retorno Autorização</th>
      <th>Inutilização</th>
      <th>Consulta Protocolo</th>
      <th>Status Serviço</th>
      <th>Tempo Médio</th>
      <th>Consulta Cadastro</th>
      <th>Recepção Evento</th>
      <th>Data Última Atualização</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-historico>
    <tr>
      <td>{{historico.autorizador.nome}}</td>
      <td>
        <div [style.color]="historico.autorizacao | statusIcon">
          <i class="pi pi-circle-on" style="font-size: 1rem"></i>
        </div>
      </td>
      <td>
        <div [style.color]="historico.retornoAutorizacao | statusIcon">
          <i class="pi pi-circle-on" style="font-size: 1rem"></i>
        </div>
      </td>
      <td>
        <div [style.color]="historico.inutilizacao | statusIcon">
          <i class="pi pi-circle-on" style="font-size: 1rem"></i>
        </div>
      </td>
      <td>
        <div [style.color]="historico.consultaProtocolo | statusIcon">
          <i class="pi pi-circle-on" style="font-size: 1rem"></i>
        </div>
      </td>
      <td>
        <div [style.color]="historico.statusServico | statusIcon">
          <i class="pi pi-circle-on" style="font-size: 1rem"></i>
        </div>
      </td>
      <td>{{historico.tempoMedio}}</td>
      <td>
        <div [style.color]="historico.consultaCadastro | statusIcon">
          <i class="pi pi-circle-on" style="font-size: 1rem"></i>
        </div>
      </td>
      <td>
        <div [style.color]="historico.recepcaoEvento | statusIcon">
          <i class="pi pi-circle-on" style="font-size: 1rem"></i>
        </div>
        </td>
      <td>{{historico.dataCadastro | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
    </tr>
  </ng-template>
</p-table>
